nav {    
    background-color:rgb(94, 93, 156);    
    color: #ffffff;    
    padding: 10px;     
}
.logo-navbar{
    background-color: lawngreen;
    width: 250px;
}
img {
    height: 80px;
    width: 295px;
}