nav {    
    background-color:rgb(94, 93, 156);    
    color: #ffffff;    
    padding: 10px; 
    
}
.logo-navbar{
    background-color: lawngreen;
    width: 500px;
    height: 100px;
    display: inline-flex;
}
img {
    height: 80px;
    width: 295px;
}